player-connection-mode=Listen
player-connection-guid=201686884
player-connection-debug=0
player-connection-project-name=CowsSupremeBattle
player-connection-ip=192.168.1.169
player-connection-ip=26.76.57.147
player-connection-ip=172.19.16.1
player-connection-ip=172.25.176.1
player-connection-ip=172.21.208.1
player-connection-ip=172.18.224.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=02bda51b5ffc4ea0b2c57399340cdafa
